@using DogShelter.Web.ViewModels.Posts
@using cloudscribe.Pagination.Models
@using cloudscribe.Web.Pagination

@model PagedResult<PostsViewModel>
<link rel="stylesheet" type="text/css" href="~/css/post.css">
<link rel="stylesheet" type="text/css" href="~/css/all-post.css">

<div class="all-container">
    <div class="data-holder">
        <div class="post-filter-1">
            <input class="search form-control" type="text" placeholder="Search" aria-label="Search">
            <select selected="All" class="form-control">
                <option value="0">All</option>
                <option value="1">Sofia</option>
                <option value="2">Qmbol</option>
                <option value="3">Shumen</option>
                <option value="4">Haskovo</option>
                <option value="5">Turgovishte</option>
                <option value="6">Stara Zagora</option>
                <option value="7">Smolqn</option>
                <option value="8">Sliven</option>
                <option value="9">Silistra</option>
                <option value="10">Ruse</option>
                <option value="11">Razgrad</option>
                <option value="12">Plovdiv</option>
                <option value="13">Pleven</option>
                <option value="14">Pernik</option>
                <option value="15">Pazardjik</option>
                <option value="16">Montana</option>
                <option value="17">Lovech</option>
                <option value="18">Kustendil</option>
                <option value="19">Kurdjali</option>
                <option value="20">Dobrich</option>
                <option value="21">Gabrovo</option>
                <option value="22">Vraca</option>
                <option value="23">Vidin</option>
                <option value="24">Veliko Turnovo</option>
                <option value="25">Varna</option>
                <option value="26">Burgas</option>
                <option value="27">Blagoevgrad</option>
            </select>
        </div>
        <div class="post-filter-2">
            <select class="form-control">
                <option selected>Post</option>
                <option>User</option>
            </select>
            <button class="search-button btn btn-primary">Search</button>
        </div>
        @foreach (var input in Model.Data)
        {
            <div class="card mb-3" style="max-width: 540px;">

                <div class="row no-gutters">
                    <div class="col-md-4 post-image" style="background-image: url(@input.Link)">
                        @*<img src="@input.Link" class="card-img" alt="...">*@
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5><a class="card-title text-dark" asp-area="" asp-controller="Posts" asp-action="Detail" asp-route-id="@input.Id">@input.Title</a></h5>
                            @*<h5 href="/Posts/Detail?id=@input.Id" class="card-title">@input.Title</h5>*@
                            <p class="card-text">@input.ShortDescription</p>
                            <p class="card-text"><small class="text-muted">@input.CreatedOn</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="pagination">
            <cs-pager cs-paging-pagenumber="Model.PageNumber"
                      cs-paging-totalitems="Model.TotalItems"
                      cs-paging-pagesize="Model.PageSize"
                      cs-pagenumber-param="pagenumber"
                      asp-controller="Posts"
                      asp-action="All"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">

            </cs-pager>
        </div>
    </div>
</div>