@using DogShelter.Web.ViewModels.Posts
@model IEnumerable<UserResultViewModel>
<link rel="stylesheet" type="text/css" href="~/css/post-results.css">
@if (Model.Count() != 0)
{
    <div id="post-container">
        <div id="data">
            @foreach (var input in Model)
            {
                <div class="card mb-3" style="max-width: 540px;">

                    <div class="row no-gutters">
                        <div class="col-md-4 post-image" style="background-image: url()">
                            @*<img src="@input.Link" class="card-img" alt="...">*@
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5><a class="card-title text-light" asp-area="" asp-controller="Users" asp-action="Detail" asp-route-id="@input.Id">@input.Username</a></h5>
                                @*<h5 href="/Posts/Detail?id=@input.Id" class="card-title">@input.Title</h5>*@
                                <p class="card-text text-light">Posts: (@input.PostsCount)</p>
                                <p class="card-text"><small class="text-light">@input.CreatedOn</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div>
        <h3> No users found with that username!<h3>
</div>
    <form method="get">
        <button type="submit" class="create btn btn-primary" asp-controller="Posts" asp-action="All">Try Again!</button>
    </form>
}